{% extends "base.html" %}

{% block content %}
<v-item-group v-model="selectedTable" mandatory selected-class="bg-primary">
    <v-container>
        <v-row>
            {% for table in tables %}
                <v-col key="{{ table.table_number }}" cols="12" md="4">
                    <v-item v-slot="{ isSelected, selectedClass, toggle }">
                        <v-card :class="['d-flex align-center', selectedClass]" height="200" dark @click="toggle">
                            <div class="text-h3 flex-grow-1 text-center">
                                {{ table.table_number }}
                            </div>
                        </v-card>
                    </v-item>
                </v-col>
            {% endfor %}
        </v-row>
    </v-container>
</v-item-group>
{% endblock %}

{% block scripts %}
<script>
    
</script>
<script>
    const { createApp } = Vue;
    const { createVuetify } = Vuetify;
    const vuetify = createVuetify();

    const app = createApp({
        data() {
            return {
                selectedTable: null, // Add reactive data for selected table
            };
        },
        methods: {
            // You can add any methods here if needed
        },
        delimiters: ['${', '}'] // Use custom delimiters for Vue
    });

    app.use(vuetify).mount('#app');
</script>
{% endblock %}
