{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<v-card>
    <v-card-title>Welcome to the Dashboard</v-card-title>
    <v-card-text>This is your main application dashboard.</v-card-text>
</v-card>

{% endblock %}
{% block scripts %}

<script>
    const socket = new ReconnectingWebSocket('ws://localhost:8000/live/ws');

    socket.onopen = function(event) {
        console.log('WebSocket is open now.');
    };

    socket.onmessage = function(event) {
        console.log('Received:', event.data);
    };

    socket.onclose = function(event) {
        console.log('WebSocket is closed now.');
    };

    socket.onerror = function(error) {
        console.error('WebSocket error observed:', error);
    };
</script>
{% endblock %}