{% extends 'layout.html' %}

{% block content %}
<v-card width="500" class="mt-10">
    <v-toolbar color="primary" dark text>
        <v-toolbar-title>Logout</v-toolbar-title>
        <v-spacer></v-spacer>
    </v-toolbar>
    <v-card-text>
        <p>Are you sure you want to log out?</p>
    </v-card-text>
    <v-card-actions class="px-10 pb-8">
        <v-spacer></v-spacer>
        <form method="POST" action="{{ url_for('users.signout') }}">
            <v-btn type="submit" color="primary">Logout</v-btn>
        </form>
    </v-card-actions>
</v-card>
{% endblock %}
{% block js %}
<script>
    const { createApp } = Vue;
    const { createVuetify } = Vuetify;
    const vuetify = createVuetify();

    const app = createApp({
        data() {
            return {};
        }
    });

    app.use(vuetify).mount('#app');
</script>
{% endblock %}
