<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Welcome to Vilcos Framework</title>
    <meta name="description" content="Next Gen Framework">
    <meta name="author" content="Vilcos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/static/css/vuetify.min.css">
    <link rel="stylesheet" href="/static/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/css/app.css">

    {% block css %}{% endblock %}
</head>

<body class="{% block body_class %} {% endblock %}">
<v-app id="app">
    <v-layout class="rounded rounded-md">
        <v-app-bar color="primary">

            <v-app-bar-title>

                <a href="/"><img style="height: 60px; filter:invert()" class="pa-1" src="/static/img/enferno.svg"></a>


            </v-app-bar-title>
            <v-spacer></v-spacer>

        </v-app-bar>

        <v-navigation-drawer v-model="drawer">
            <v-list>
                <v-list-item href="/dashboard" title="Dashboard"></v-list-item>

            </v-list>
        </v-navigation-drawer>


        <v-main class="d-flex align-center justify-center" style="min-height: 300px;">
            {% block content %}
            {% endblock %}
        </v-main>
    </v-layout>
</v-app>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/vuetify.min.js"></script>
<script src="/static/js/axios.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>
